CLIENT_ID="Write_client_id_here"
CLIENT_SECRET="Write_client_secret_here"
MONGODB_URI="Write_mongodb_uri_here"
MONGODB_DB_NAME=live-location-tracker
LOCATION_HISTORY_CONSUMER_GROUP="Write_consumer_group_name_here"


